Repository sacloud/libsacloud, pull requests merged in 2020-04, with the labels that each got.

#544 Startup Script Parameters
  v2/internal/define/models.go
  v2/sacloud/naked/disk_edit.go
  v2/sacloud/zz_models.go
  v2/utils/builder/disk/builder_test.go
  v2/utils/builder/disk/edit_request.go
  v2/utils/builder/server/builder_test.go
  v2/utils/builder/server/example_test.go
Labels: area/definition, area/utils, breaking-change, v2

#547 Fix converting StartupScript parameters to naked types
  v2/internal/define/models.go
  v2/internal/dsl/envelope.go
  v2/sacloud/zz_envelopes.go
  v2/sacloud/zz_models.go
Labels: area/definition, area/dsl, v2

#549 Improve error message when building server
  v2/utils/builder/server/api_client_test.go
  v2/utils/builder/server/builder.go
  v2/utils/builder/server/builder_test.go
Labels: area/utils, v2

#555 Add a VirtualIPAddress field to ProxyLB naked model
  v2/sacloud/naked/proxylb.go
Labels: area/naked, bug, v2

#556 Return copied slice to avoid data races
  v2/sacloud/fake/pool.go
Labels: bug, v2
